


<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #163b20;">
    <div class="container-fluid">
      <a class="navbar-brand  ms-5 text-light" style="font-weight: bold;font-size: xx-large;"
       href="{% url "index" %}"><span style="color: aquamarine;">I</span>nsight<span style="color: aquamarine;">E</span>ye</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>

        <form class="d-flex" role="search">
          <a class="btn btn-success mx-2" href="{% url "code" %}">Code</a>
          <a class="btn btn-success " href="{% url "test" %}">Test</a>

        </form>

      </div>
    </div>
  </nav>
